body{
    background-color: #4a4d4956;
}

.difBtn{
    padding: 15px 20px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.difficulty, .tittleStart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
}

.containerBtn{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5vh;
}

.containerImg{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPreg{
    height:30%;
    width: 30%;
}