.containerResult{
    display: grid;
    justify-content:center;
    gap: 20px;
}

.boton{
    padding: 15px 20px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.text{
  font-size: 20px;
  line-height: 100%;
}

.imgPreg{
    height:30%;
    width: 30%;
}