.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
}

.homeLogo {
  width: 260px;
  height: 260px;
  object-fit: contain;
  margin-bottom: 40px;
}

.startBtn {
  background-color: #5d3fd3;
  padding: 14px 40px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.startBtn:hover {
  transform: scale(1.08);
}
