body{
    background-color: #4a4d4956;
}

.difBtn{
    padding: 15px 20px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    flex-grow: 1; /* Para mobile sirve*/
    text-decoration: none; 
    text-align: center;
    display: flex;         
    justify-content: center;
    align-items: center;
    color:black;
}

.difBtn:hover {
    background-color: #f0f0f0
}



.difficulty, .tittleStart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
    text-align: center; 
    padding: 0 10px; 
}

.containerBtn{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5vh;
    flex-wrap: wrap; 
    padding: 0 15px; 
}

.containerImg{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPreg{
    max-width: 80vw; 
    width: auto;
}

@media (min-width: 768px) {
    
    .containerBtn{
        max-width: 600px; 
        margin: 5vh auto 0; 
        flex-wrap: nowrap; 
    }
    .difBtn {
        
        flex-grow: 0; 
        width: 150px;
    }
    .imgPreg{
        width: 300px;
        max-width: 30vw;
    }
    .startScreenContent { 
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
    }
}